/******* GENERAL *******/
:root {
    --blue : #c7dff9;
    --pink : #f7c4d8;
    --peach : #f9d9c3;
    --white : #ffffff;
    --darkBlue : #011f38;
}

body {
    font-family: 'Quicksand' !important;
}

/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}
#contact {
    padding-bottom: 4rem;
}

/* display background dark color on navbar scroll */
.navbarScroll.navbarDark {
    background-color: var(--white);
    border-radius: 0 0 25px 25px;
}

.navbar-nav .nav-link  {
    color: var(--darkBlue) !important;
}

.navbar .nav-link:hover {
    border-bottom : 1px solid var(--darkBlue);
    padding-bottom: 0.2rem;
}

.navbar-brand  {
    color: var(--darkBlue) !important;
}

/* hero background image */
.bgimage {
    height: 100vh;
    max-height: 900px;
    background: url("images/boris-misevic-sBCNZp6-b0Q-unsplash.jpg");
    background-size: cover;
    position: relative;
    border-radius: 0 0 25px 25px;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--darkBlue);
}

/* about */
.imageAboutPage {
    width: 100%;
}
.imageAboutPage {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* skills */
.skillsText.card {
    height: 350px;
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}


/* portfolio */
#portfolio p {
    text-align: center;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}

/* footer */
